<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de Tarefas</li>
  </ol>
</nav>
<div class="container">
  <!--Input de tarefas-->
  <div class="card">
    <h5 class="card-header">Adicionar/Atualizar Tarefas</h5>
    <div class="card-body">
      <form #formulario="ngForm" (ngSubmit)="formulario.form.valid && save(formulario)">
        <div class="form-group">
          <label for="model">Tarefas</label>
          <input
           id="model"
           type="text"
           class="form-control"
           placeholder="Digite Sua Tarefa"
           name="model"
           #model="ngModel"
           required
           [(ngModel)]="Tarefa.tarefa"
           [ngClass]="{'is-invalid': formulario.submitted && model.invalid}"
           />
           <div class="invalid-feedback" *ngIf="formulario.submitted && model.invalid">
              <div *ngIf="model.errors?.['required']">
                tarefa é obrigatório
              </div>
           </div>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <button type="reset" class="btn btn-secondary ml-1" (click)="cleanForm(formulario)">Limpar</button>
      </form>
    </div>
  </div>
  
  <br/>
  <!--Lista de tarefas-->
  <div class="card">
    <h5 class="card-header">Lista de Tarefas</h5>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Tarefas</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarefa of Tarefas">
            <td>{{tarefa.id}}</td>
            <td>{{tarefa.tarefa}}</td>
            <td>
              <button
               type="button"
               class="btn btn-outline-warning btn-sm"
               (click)="edit(tarefa)"
               >
               Editar
              </button>
            <button
              type="button"
              class="btn btn-outline-danger btn-sm ml-1"
              (click)="delete(tarefa)"
              >Deletar
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>